.container {
	position: relative;
	z-index: 10;
	padding: 64px;
	overflow: hidden; /* Ensures overflow doesn't disrupt animation */
}

.container:hover .description {
	display: block;
	animation: expandBackground 0.5s forwards; /* Animation properties */
}

.description {
	display: none;
	background-color: #61892f; /* Adjust background color as needed */
	color: white;
	position: absolute;
	top: 50%; /* Start from the center vertically */
	left: 0;
	width: 100%; /* Full width initially */
	height: 1px; /* Initially start with a thin line */
	transform: translateY(-50%); /* Center vertically */
	text-align: left; /* Center text horizontally */
	padding: 20px;
	font-size: 1.5rem; /* Adjust font size as needed */
	line-height: 2; /* Adjust line height for vertical centering */
}

@keyframes expandBackground {
	from {
		width: 100%; /* Full width */
		height: 1px; /* Start with a thin line */
		transform: translateY(-50%); /* Center vertically */
	}
	to {
		width: 100%; /* Maintain full width */
		height: calc(100%); /* Expand to full height minus padding */
		transform: translateY(-50%); /* Center vertically */
	}
}
