.container {
	position: relative;
	z-index: 10;
	padding: 64px;
	text-wrap: wrap;
}

.container:hover .description {
	display: block;
	animation: expandBackground 0.5s forwards;
}

.description {
	display: none;
	background-color: #61892f;
	color: white;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	transform: translateY(-50%);
	text-align: left;
	padding: 0 20px;
	font-size: 1.5rem;
	line-height: 2;
	cursor: pointer;
	box-sizing: content-box;
}

@keyframes expandBackground {
	from {
		width: 100%;
		height: 1px;
		transform: translateY(-50%);
	}
	to {
		width: 100%;
		height: calc(100%);
		transform: translateY(-50%);
	}
}
